@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800');
:root {
    --primary-color: #E80000;
    --secondary-color: #FBAD41;
}

* {
    margin: 0px;
    padding: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0px;
    font-family: 'Montserrat', sans-serif;
}

body,
html {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

p {
    font-size: 16px;
    font-weight: 400;
    color: #3A3A3A;
    line-height: 1.6;
}

a:hover,
a:focus {
    outline: none;
    text-decoration: none;
}

.body {
    font-size: 14px;
}

.wrapper {
    position: relative;
    height: 100%;
}

.left-side {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 380px;
    height: 100%;
    background-color: var(--secondary-color);
}

.logo {
    text-align: center;
    height: 170px;
    line-height: 170px;
    background-color: #fff;
    box-shadow: inset 0 0 50px 0 rgba(0, 0, 0, 0.4);
}

.logo a {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 2px;
    color: var(--primary-color);
}

.left-content {
    text-align: right;
    overflow-y: scroll;
    height: calc(100% - 260px);
}

.left-content ul li {
    border-bottom-color: var( --primary-color);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    display: block;
    height: 50px;
}

.left-content ul li.active {
    background-color: var(--primary-color);
}

.left-content ul li.active a {
    color: #fff;
}

.left-content ul li.active a span {
    border-color: var(--primary-color);
}

.left-content ul li a {
    color: var(--primary-color);
    line-height: 50px;
    padding-right: 30px;
    display: block;
    text-decoration: none;
    font-weight: 500;
}

.left-content ul li a span {
    border-right-color: var( --secondary-color);
    border-right-style: solid;
    border-right-width: 1px;
    color: #fff;
    display: inline-block;
    float: left;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 50px;
    font-size: 20px
}

.copyright {
    background-color: #22313f;
    border-top: 1px solid rgba(0, 0, 0, 0.07);
    bottom: 0;
    color: #ffffff;
    left: 0;
    padding: 20px;
    position: absolute;
    text-align: center;
    width: 100%;
}

.copyright p {
    margin-bottom: 0px;
    color: rgba(255, 255, 255, .8);
    font-size: 14px;
    font-weight: 500;
}

.copyright p a {
    color: rgba(255, 255, 255, .8);
    font-weight: 700;
}

.copyright p span {
    display: block;
}

.right-side {
    padding-left: 380px;
}

.right-content {
    padding: 50px;
}

.content {
    display: none;
}

.content.active {
    display: block;
}

img {
    width: 100%;
}

pre {
    background: url(../img/pre_bg.png);
    line-height: 19px;
    text-align: left;
    padding: 0px;
    margin-top: 35px;
    font-size: 13px;
    margin-bottom: 35px;
}

.content a {
    color: var(--primary-color);
    margin-right: 15px;
}

.content h2 {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
}

.content h3 {
    font-weight: 600;
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 10px;
    display: inline-block;
    margin-bottom: 20px;
    color: #000;
}

.content h4 {
    padding-bottom: 10px;
    margin-bottom: 0px;
    font-weight: 600;
}

.alert-danger>h2 {
    margin-bottom: 0;
    padding-bottom: 0;
    border: none;
}

.content h1 {
    font-weight: 700;
    padding-bottom: 35px;
    margin-bottom: 35px;
    border-bottom: 1px solid #ddd;
}

#one>h1 {
    font-size: 20px;
    line-height: 30px;
}

#one>h1 span {
    font-size: 40px;
    line-height: 40px;
    color: var(--primary-color);
    display: block;
    font-weight: 600;
    margin-bottom: 20px;
}

.content#source>ul li span {
    font-weight: 700;
    display: block;
}

.content#source>ul li>ul {
    padding-left: 25px;
}

.satisfication-area.color-bg::after {
    background: red none repeat scroll 0 0 !important;
}

#copyright_year {
    display: inline-block;
}